%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

%flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

body {
    display: flex;
    flex-direction: column;
}

.navbar {
    padding: 0 10px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 70px;
    background-color: #007bff;
    @extend %flex-center;
    color: black;
    box-shadow: 2px 2px 10px #007bff;
    z-index: 11;
}

.navbar__items {
    position: relative;
    width: 100%;
    @extend %flex-center;
    justify-content: space-around;
    display: flex;
}

.nav__logo {
    width: 40px;
    height: 40px;
    // background: url('../../images/logo2.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    overflow: hidden;
    img {
        margin-top: -3px;
        margin-left: -3px;
        width: 45px;
        height: 45px;
        object-fit: cover;
        // mix-blend-mode: multiply
    }
}

.nav__list {
    @extend %flex-center;
    gap: 70px;
}

.navbar__menu {
    position: absolute;
    right: -300px;
    top: 50px;
    background: #fff;
    width: 200px;
    padding: 10px;
    color: aliceblue;
    box-shadow: 0px 10px 10px  #007bff;
    display: none;
}

.navbar__menu1 {
    right: -20px;
    transition: .5s ease all;
}

 

.contacts {
    position: relative;
    // top: -5px;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    height: 40px;
    @extend %flex-center;
    transition: .5s ease all;
}

 

.color{
    color: #fff;
    transition: .5s ease all;
}
.bg-dark {
    background: rgb(22, 20, 20);
    transition: .5s ease all;
}
.bg-light {
    transition: .5s ease all;
    background: white;
}

.dark {
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    background-color: blueviolet;
}

.contacts::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 3px;
    width: 0%;
    background-color: #fff;
    transition: .5s ease all;
}

.contacts::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color: #fff;
    width: 0%;
    transition: .5s ease all;
}

.contacts:hover.contacts::after {
    width: 100%;
}

.contacts:hover.contacts::before {
    width: 100%;
}


.nav__logo {
    color: aliceblue;
    font-size: 30px;
}

.menu {
    display: none;
    position: relative;
    @extend %flex-column;
    // gap: 6px;
    transition: 1s ease all;
    width: 30px;
    display: none;

    .div {
        width: 30px;
        height: 4px;
        background-color: black;
        border-radius: 5px;
        margin: 4px;
    }

    .menu:hover>div {
        // widt: 100%;
        background-color: red;
    }
}

.div2 {
    display: none;
    transition: .5s ease all;
    position: absolute;
    right: 0;
    top: -5px;
}

.div1 {
    transform: rotate(45deg);
    position: absolute;
    right: -8px;
    top: -5px;
    transition: .5s ease all;
}

.div3 {
    transform: rotate(-45deg);
    position: absolute;
    right: -8px;
    top: -5px;
    transition: .5s ease all;
}

.header {
    padding: 200px 20px;
    min-height: 100vh;
    width: 100%;
    background: #fff;
    @extend %flex-center;
    gap: 30px;
}

.header2 {
    padding-right: 0;
}

.header__title {
    font-size: 40px;
    text-align: center;
}

.red {
    color: red;
    display: inline;
}

.yellow {
    color: yellow;
}

.green {
    color: aquamarine;
}

.header__card {
    max-width: 800px;
    @extend %flex-column;
    gap: 30px;
}

.header__card-img {
    width: 100%;

    img {
        width: 100%;
        border: 1px solid rgba(128, 128, 128, 0.367);
        padding: 10px;
        border-radius: 20px;
    }
}

.header__card-desc {
    font-size: 20px;
}

.register__container {
    height: 90vh;
    @extend %flex-center;
}

.register {
    position: absolute;
    z-index: 2;
    @extend %flex-column;
    gap: 20px;
    background: #383737;
    padding: 50px 10px;
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    transition: .5s all;
    margin: 10px;
}

.register:hover {
    box-shadow: 0 0 50px black;
}

.register__input {
    padding: 10px;
    border-radius: 5px;
    max-width: 300px;
    width: 100%;
    outline: none;
    border: none;
}

.register__input:focus {
    box-shadow: 0 0 20px blue;
}

.register__title {
    color: #fff;
}

body {
    // display: none;
    display: flex;
    flex-direction: column;
}

.register__btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition:  .5s all;
    background: green;
    color: #fff;
}

.register__btn:hover {
    background-color: blue;
}