%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

%flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}


.lessons {
    @extend %flex-column;
    position: relative;
    left: -1200px;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: .5s ease all;
    cursor: pointer;
}

.show_lesson {
    min-height: 380px;
    height: 100%;
    left: 0;
    transition: .5s  all;
}
.lessons__text {
    margin: 10px;
    max-width: 500px;
    padding: 20px;
    background-color: #01435d;
    border-radius: 10px;
    @extend %flex-column;
    gap: 10px;
    margin-bottom: 50px;
    color: aliceblue;
    box-shadow: 10px 10px 10px black;
    transition:  .2s ease-in;
}

.videos {
    @extend %flex-column;
    justify-content: start;
}


.themes {
    @extend %flex-column;
    gap: 10px;
}

.show__list {
    // margin: 10px;
    display: block;
    max-width: 460px;
    width: 100%;
    padding: 20px;
    color: aliceblue;
    background-color: blueviolet;
    border-radius: 0 10px 10px ;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;    transition: .4s ease-in-out;
}

.show__list:hover {
    background-color: cadetblue;
}
.back {
    display: block;
    position: fixed;
    z-index: 11;
    right: 10px;
    bottom: 20px;
    color: aliceblue;
    padding: 15px 25px;
    background-color:#01435d;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    transition:  .5s ease all;
    span {
        font-size: 25px;
    }
}

.back:active {
    transform: translateY(1px);
     
} 

.back:hover {
    background-color:burlywood;
    box-shadow: 0 0 10px burlywood;
}

.header__text-title {
    color: green;
    font-size: 24px;
}

.header__text-title2 {
    color: yellowgreen;
    font-size: 20px;
}

.header__text-title3 {
    color: black;
}

.header__text-img {
    width: 100%;
    img {
        width: 100%;
    }
}

.map__methods {
    margin-left: 20px;
    li {

        list-style-type:disc;
    }
}

.map__method {
    color: yellow;
}