@media (max-width: 789px) {
    .nav__list {
        display: none;
    }

    .menu {
        display: block;
    }
    .navbar__items {
        justify-content: space-between;
    }
    
    
    .menu {
        display: block;
    }
}

@media (max-width: 447px) {
    .show__list {
        max-width: 250px; 
    }
}