%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

%flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer {
    padding: 20px;
    width: 100%;
    height: 200px;
    // @extend %flex-column;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(17, 43, 35);
    .header__title {
        color: aliceblue
    }
}

.footer__link {
    @extend %flex-center;
    gap: 20px;
}