%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

%flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.menu__link {
    max-width: 480px;
    width: 100%;
    background-color: rgb(8, 55, 54);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    @extend %flex-center;
    justify-content: center;
    transition: .5s ease all;
    box-shadow: 10px 10px 10px rgb(8, 55, 54);
}

.menu__link:active {
    transform: translateX(2px);
    background-color: aqua;
}

.animation {
    transition: .4s ease all;
}